.list {
    width: 100%;
}

.columnName {
    color: rgba(0, 0, 0, 0.4);
}

.row {
    position: relative;
    cursor: pointer;
    border-radius: 40px;
}

.row::after {
    top: 0;
    left: 0;
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    transition: opacity 0.2s ease-in-out;
}

.row:hover::after {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.bigColumn{
    width: 70%;
}

.smallColumn{
    width: 15%;
}

td {
    border-right: solid 20px white;
}
