.container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.img {
    width: 200px;
    height: 200px;
    clip-path: circle(100px at center);
    box-shadow: 0 0 rgba(0, 0, 0, 0.1);
}

.info {
    flex-grow: 1;
}