.slug {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 7px 10px;
    color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    font-family: Nunito, sans-serif;
    font-weight: 500;

    font-style: italic;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
    user-select: none;
    transition: width 1s;
}

.slugEdit {
    cursor: text;
}

.slugClicked {
    border: solid rgba(0, 0, 0, 0.1) 2px;
}

.copyIcon {
    transform: scale(0.8);
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: rgba(0, 0, 0, 0.3);
}

.editIcon {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.editIcon:hover {
    cursor: pointer;
    transform: translateY(2px);
    transition: transform 0.2s ease-in-out;
}

.input {
    color: rgba(0, 0, 0, 0.5);
    border: none;
    font-family: Nunito, sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
}

.input:disabled {
    background-color: rgba(0, 0, 0, 0);
}